extends layout

block content
  h1= title
  p Welcome to #{title}, #{name}!
    p Our services include:
        ul
            li Virus Removal
            li Hardware Repair
            li Software Installation
            li Data Recovery
            li System Optimization
    p Contact us for more information about our services!
    